.character {
    background-color: white;
    width: max-content;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
    display: inline-block;
    padding: 1rem;
    &__details {
        margin: 0;
        font-weight: 400;
        color: gray;
        &__special {
            font-weight: bolder;
            color: black;
        }
    }
    &__image {
        height: 250px;
        min-height: 250px;
        min-width: 250px;
        background-color: lightgray;
        width: 250px;
        display: block;
        margin: 0 auto 8px;
    }
}